VITE_RUNTIME_MODE=aptos-testnet
VITE_APTOS_MODULE_ADDRESS=0xdd2c843725904c661a3b592e84a6794dbe2076e947b045cdc55b8cd7d4cb0411
VITE_APTOS_NETWORK=testnet
VITE_PUBLIC_API_BASE_URL=
VITE_GOOGLE_CLIENT_ID=
VITE_PUBLIC_SITE_URL=http://127.0.0.1:4176
